<?php
	define("ROOT_DIR", __DIR__);
	define("APP_DIR", __DIR__ . '/applications/ipam');

	if(!isset($configurations))
	{
		$configurations = array(
			__DIR__ . '/configurations/ipam.json',
			__DIR__ . '/configurations/ipam.user.json',
		);
	}

	require_once(APP_DIR . '/launchers/ipam.php');
	$Launcher = new \App\Ipam\Launcher_Ipam();

	/**
	  * Change [IPAM_SERVER_KEY] with the key of your PHPIAPM server in configuration file
	  * Example: $MAIN = new Service_Ipam($configurations, 'myIpamKey');
	  */
	$SHELL = new \App\Ipam\Shell_Ipam($configurations, '[IPAM_SERVER_KEY]');

	echo PHP_EOL;
	exit();