{
	"DEFAULT": {
		"sys": {
			"browserCmd": "xdg-open",
			"secureShellCmd": "ssh"
		}	
	},

	"IPAM": {
		"servers": {
			"[IPAM_SERVER_KEY]": "https://myPhpIpamServerAddress.ext",
			"myIpamKey": "https://demo.phpipam.net"
		},

		"contexts": {
			"[IPAM_SERVER_KEY]": "myAPP",
			"myIpamKey": "myAPP"
		}
	}
}
